@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</p>
        </div>
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="~/clientside/img/about.svg" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                <h3>Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident</h3>
                <p>Consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. malis nulla duis fugiat</p>
                <ul>
                    <li><i class="icon ion-ios-checkmark-outline"></i> Dolores quae porro consequatur aliquam, incidunt fugiat culpa.</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> Dolores quae porro consequatur aliquam, culpa esse aute nulla.</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> Dolores quae porro esse aute nulla. malis nulla duis fugiat</li>
                </ul>
            </div>
        </div>

    </div>
</section><!-- #about -->
<!--==========================
  Services Section
============================-->
<section id="services">
    <div class="container">
        <div class="section-header">
            <h2>Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="icon icon-briefcase"></i></div>
                    <h4 class="title"><a href="#">Marketing</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box wow fadeInRight">
                    <div class="icon"><i class="icon icon-strategy"></i></div>
                    <h4 class="title"><a href="#">Consulting</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><i class="icon icon-tools"></i></div>
                    <h4 class="title"><a href="#">Development</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="icon icon-genius"></i></div>
                    <h4 class="title"><a href="#">Financial</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box wow fadeInRight">
                    <div class="icon"><i class="icon icon-megaphone"></i></div>
                    <h4 class="title"><a href="#">Consulting</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><i class="icon icon-trophy"></i></div>
                    <h4 class="title"><a href="#">Quality</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla.</p>
                </div>
            </div>
        </div>

    </div>
</section>
