@{
    ViewData["Title"] = "Account Informations";
    Layout = "~/Areas/User/Views/Shared/_ProfileLayout.cshtml";
}

<div class="form-head mb-4">
    <h2 class="text-black font-w600 mb-0">Settings</h2>
</div>

<partial name="~/Areas/User/Views/Shared/partials/_SettingsTab.cshtml" />